body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #bed8e7;
}

.container {
    text-align: center;
    width: 80%;
}

input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 80%;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    width: 80%;
}

#movieList {
    margin-top: 20px;
}

.movie-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    text-align: center;
}

.movie-box img {
    max-width: 100%;
    height: auto;
}

.movie-box p {
    margin: 10px 0 0;
}
